  body {
    font-family: Arial, sans-serif;
    margin: 0;
    background-color: #242222;
    color: #333;
  }
  
  header {
    background: linear-gradient(to bottom, #000000, #242222);
    color: #fff;
    padding: 1em;
    text-align: center;
  }
  
  nav ul {
    position: relative;
    z-index: 100;
    list-style: none;
    display: flex;
    justify-content: center;
    gap: 9vw;
    margin-top: 5px;  
  }
  
  nav a {
    padding-top: 50px;
    color: #fff;
    text-decoration: none;
    font-weight: bold;
  }
  
  .container {
    padding: 60px;
    display: flex;
    flex-direction: row;
  }
  
   
  
  .galeria {
    background-color: #000000;
    width: 95%;
    padding: 20px;
    justify-self: center;
    text-align: center;
    color: rgb(206, 206, 206);
    border: #630000;
    border-style: inset;
    box-shadow: 4px 4px 20px rgba(255, 0, 0, 0.6);
    z-index: 0;
  }
  p,h3,h2 {
    color: #fff;
    font-family:'Times New Roman', Times, serif;
  }
  footer {
    background-color: #111;
    color: #fff;
    text-align: center;
    padding: 15px;
    margin-top: 40px;}